#about-container {
    background-color: var(--color-primary);
    height: 100%;
}

#about-text-wrapper {
    font-size: medium;
    color: var(--color-text);
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    padding: 20px 20%;
    animation-name: fadeInUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
}

#about-text-wrapper h2 {
    margin: 20px 0;
}

#about-text-wrapper h3 {
    margin: 20px 0;
}

#about-text-wrapper p {
    padding-bottom: 1%;
}

@media (max-width: 900px) {
    #about-text-wrapper {
        padding: 20px 10%;
    }
}