@import 'mapbox-gl/dist/mapbox-gl.css';

.mapboxgl-control-container {
    display: none;
}

.balance-map-wrapper {
    width: 100%;
    height: 600px;
}

.balance-map {
    width: 100%;
    height: 400px;
}

.mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.color-wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
