:root {
    font-family: 'Ubuntu', 'Roboto', 'San F', 'Arial', sans-serif;

    --color-primary: #00a3e0;
    --color-secondary: #005eb8;
    --color-text: #fff;
    --color-green: #93c90e;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-25px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(25px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
