#graph-container {
    display: grid;
    grid-template-columns: 5fr 4fr;
    height: 90vh;
}

#choropleth-map-wrapper {
    margin-left: 1%;
    margin-right: 1%;
}

#chart-wrapper {
    margin-left: 1%;
}

#graphs-menus {
    width: 100%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #consumption-content {
        grid-template-columns: unset;
        grid-template-rows: 2fr 3fr;
    }
}
