.MuiSlider-rail, .MuiSlider-thumb {
    color: white;
}

.MuiSlider-markLabel {
    color: white !important;
    font-family: 'Ubuntu', 'Roboto Mono', 'San F', 'Arial', sans-serif !important;
    font-size: 16px !important;
}

@media (max-width: 990px) {
    .MuiSlider-markLabel {
        font-family: 'Ubuntu Mono', 'Roboto Mono', 'San F', 'Arial', sans-serif !important;
        font-size: 2vw !important;
        white-space: nowrap !important;
        overflow: hidden !important;
        max-width: 3ch !important;
    }
}

@media (max-width: 770px) {
    .MuiSlider-markLabel {
        font-size: 3.5vw !important;
    }
}

.slider-content-wrapper {
    width: 100%;
}

.box-slider-wrapper {
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width: 500px) {
    .box-slider-wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.horizontal-slider-wrapper {
    padding-bottom: 20px;
}

