@import '~leaflet/dist/leaflet.css';

h1 {
  font-family: 'Ubuntu', 'Roboto', 'San F', 'Arial', sans-serif;;
}

.leaflet-container {
  height: 300px;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  justify-content: center;
  z-index: 0;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  color: #005eb8;
  font-family: 'Ubuntu', 'Roboto', 'San F', 'Arial', sans-serif;
  padding: 1rem;
}

p {
  font-family: 'Ubuntu', 'Roboto', 'San F', 'Arial', sans-serif;
  color: #00a3e0;
  padding: 1rem;
  text-align: center;
}

.urban-info {
  background-color: white;
  border-radius: 25px;
  margin: 1rem;
  justify-content: center;
}


.leaflet-area {
  stroke-width: 1px;
  fill-opacity: 0.2;
  transition: stroke-width .3s, fill-opacity .3s;
}

.leaflet-area:hover {
  stroke-width: 5px;
  fill-opacity: 0.4;
}
