#balance-infos {
    color: white;
    border: 5px solid white;
    border-radius: 25px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

#balance-infos p {
    padding: 1rem;
}

#balance-title {
    text-transform: uppercase;
    padding: 1rem;
}