#home-map-container {
    display: grid;
    grid-template-columns: 5fr 4fr;
    height: 100%;
}

#home-map-container .map-container {
    height: 100%;
}

#home-map-container .mapboxgl-canvas-container.mapboxgl-interactive:hover {
    cursor: pointer;
}

@media (max-width: 800px) {
    #home-map-container {
        grid-template-columns: unset;
        grid-template-rows: 2fr 3fr;
    }
}
