#home-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.dropdown-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    height: 20%;
}

.dropdown-wrapper * {
    border-color: aqua;
}



.date-picker {
    width: 95%;
    height: 80%;
    display: 'flex';
    text-transform: 'uppercase';
    color: white;
}

main {
    display: grid;
    grid-template-columns: 5fr 4fr;
    height: 100%;
}

main .map-container {
    height: 100%;
}

@media (max-width: 800px) {
    main {
        grid-template-columns: unset;
        grid-template-rows: 2fr 3fr;
    }
}
