main {
    height: 100%;
}

#home-container {
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: var(--color-primary);
}

@media (max-width: 800px) {
    main {
        grid-template-columns: unset;
        grid-template-rows: 2fr 3fr;
    }
}