@import 'mapbox-gl/dist/mapbox-gl.css';

.mapboxgl-control-container {
    display: none;
}

.choropleth-map-wrapper {
    width: 100%;
    height: 600px;
}

.choropleth-map {
    width: 100%;
    height: 400px;
}

.mapboxgl-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.color-wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.choropleth-map-title-wrapper {
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
}

.high-end-color-wrapper, .low-end-color-wrapper {
    display: inline-block;
    padding: 5px;
}

.high-end-color {
    width: 170px;
    height: 20px;
    background-color: #005eb8;
    display: table-cell;
    padding: 5px;
}

.low-end-color {
    width: 170px;
    height: 20px;
    background-color: #7fd1ef;
    display: table-cell;
}

.low-end-text, .high-end-text {
    height: 20px;
    width: 200px;
    text-align: center;
    display: table-cell;
    color: white;
    vertical-align: middle;
    padding-left: 20px;
}