#legal-container {
    background-color: var(--color-primary);
    height: 100%;
}

#legal-text-wrapper {
    font-size: medium;
    color: var(--color-text);
    background-color: var(--color-primary);
    height: 100%;
    min-height: calc(100vh - var(--header-height));
    padding: 20px 20%;
    animation-name: fadeInUp;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.75s;
}

#legal-text-wrapper h2 {
    margin: 20px 0;
}

#legal-text-wrapper h3 {
    padding-bottom: 1%;
}

#legal-text-wrapper p {
    padding-bottom: 1%;
}

#legal-text-wrapper ul {
    padding-bottom: 1%;
}

#legal-text-wrapper li {
    padding-bottom: .5%;
}

#legal-text-wrapper a {
    color: var(--color-text);
    text-decoration: underline;
}

#legal-text-wrapper a:hover {
    color: var(--color-green);
}

@media (max-width: 900px) {
    #legal-text-wrapper {
        padding: 20px 10%;
    }
}