#district-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#district-info {
    color: white;
}

#district-info h2 {
    max-width: 30vw;
    font-size: 2.5rem;
    padding: 0;
    margin-bottom: 2rem;
}

#district-info ul {
    margin-bottom: 5rem;
}

#district-info li {
    font-size: 1.5rem;
    margin: .5rem 0;
    list-style: none;
}

#district-info li .data {
    font-weight: bold;
}

#district-info #zone-hint {
    font-style: italic;
    font-size: 1.5rem;
    padding: .5rem;
    background-color: #93c90e;
}

#district-info #controls {
    display: flex;
}

#district-info #controls > * {
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .5rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: #93c90e;
    box-shadow: 5px 5px #5d7910;
}

#district-info #controls > *:hover {
    text-decoration: underline;
}

#district-info #controls > *:not(:first-child) {
    margin-left: 1rem;
}

#district-name {
    text-transform: uppercase;
    padding: 1rem;
}