.district-name {
    justify-content: center;
    color: white;
    padding-bottom: 1rem;
}

.district-info {
    color: white;
    padding-top: 1rem;
    display: block;
    justify-content: start;
}