#district-infos {
    color: white;
    border: 5px solid white;
    border-radius: 25px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

#district-infos p {
    padding: 1rem;
}

#district-name {
    text-transform: uppercase;
    padding: 1rem;
}