#data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
	min-height: calc(100vh - var(--header-height));
}

#map-container-wrapper {
    height: 100%;
    width: 100%;
    opacity: 1;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

#indicator-container-wrapper {
	opacity: 1;
	animation-name: fadeInRight;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
}

@media (max-width: 900px) {
	#data-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
	}

	#map-container-wrapper {
		min-height: 100vh;
		grid-row: 2;
	}
}