header {
    background-color: #005eb8;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 20px;
}

#hamburger-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 20px;
}

#title-wrapper #title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

#logo-wrapper {
    place-self: center;
    justify-self: end;
    height: 2rem;
}

#logo-wrapper img {
    height: 100%;
    filter: brightness(0) invert(1);
}

#enedis-logo-small {
    display: none;
}

@media (max-width: 800px) {
    #title-wrapper #title {
        font-size: 1.5rem;
    }
}

@media (max-width: 650px) {
    #enedis-logo {
        display: none;
    }

    #enedis-logo-small {
        display: block;
    }
}

@media (max-width: 525px) {
    #title-wrapper #title {
        font-size: 1.1rem;
    }
}

@media (max-width: 350px) {
    #title-wrapper #title {
        font-size: 0.8rem;
    }
}