header {
    background-color: #005eb8;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-title {
    place-self: center;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.logo {
    place-self: center;
    justify-self: end;
    filter: brightness(0) invert(1);
    height: 1.7rem;
    margin-right: calc((50px - 1.7rem) / 2);
}

@media (max-width: 575px) {
    .logo {
        display: none;
    }
}

@media (max-width: 325px) {
    .header-title {
        font-size: 1rem;
    }
}
