* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', 'Roboto', 'San F', 'Arial', sans-serif;
  scroll-behavior: smooth;
}

.home, .about, .connection, .legal, .error {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

body {
  background: var(--color-bg);
}