#indicator-viewer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#indicator-name-wrapper {
    width: 100%;
    margin: 0.5em 0;
    padding: 0 75px;
    align-self: center;
}

#indicator-name-wrapper>p {
    color: var(--color-text);
    font-size: large;
    font-weight: bold;
    text-align: center;
    border: 3px solid var(--color-text);
    border-radius: 15px;
    padding: 5px;
}

#indicator-content {
    padding: 10px 30px;
}

#indicator-content>* {
    opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
