.navbar {
    background-color: #005eb8;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
}

.dropButton {
    color: white;
    height: 50px;
    font-size: 3rem;
    z-index: 11;
}

.dropButton:hover{
    cursor: pointer;
}

.dropmenu {
    z-index: 10;
    background-color: #005eb8;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0;
    width: min-content;
    top: -10000%;
    float: left;
    margin-left: 50px;
    transition: 850ms;
}

.dropmenu.d2 {
    width: 15vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropmenu.d3 {
    width: 15vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dropmenu.active {
    top: 0;
    transition: 250ms;
}

.dropmenu-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    border-bottom: 5px dotted #fff;
    text-transform: uppercase;
    font-size: 1rem;
}

.dropmenu-text a {
    text-decoration: none;
    color: #fff;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.dropmenu-text a:hover {
    background-color: rgb(68, 0, 0);
}

.dropmenu-items {
    width: 100%;
}

.dropmenu-toggle {
    background-color: #005eb8;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-title-dd {
    font-size: 0.8rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 16px;
}

.dropmenus-wrapper {
    height: 50px;
    background-color: #005eb8;;
}

.dropmenu-page-wrapper {
    width: 14em;
    position: relative;
    margin-left: 10vw;
    float: left;
    display: flex;
}

.dropmenu-urbanZone-wrapper {
    width: fit-content;
    float: left;
    position: relative;
    display: flex;
    margin-left: 0;
    flex-grow: 1;
}

.dropmenu-buildings-wrapper {
    width: fit-content;
    position: relative;
    display: flex;
    margin-left: 0;
    flex-grow: 1;
}

@media (max-width: 1200px) {
    .dropmenu {
        width: 20vw;
    }

    .dropmenu.d2 {
        width: 30vw;
    }

    .dropmenu.d3 {
        width: 20vw;
    }

    .item-title-dd {
        font-size: 0.7rem;
        margin-left: 0;
    }

    .dropmenu-page-wrapper {
        margin-left: 20%;
        width: 30%;
    }

    .dropmenu-urbanZone-wrapper {
        width: fit-content;
    }

    .dropmenu-buildings-wrapper {
        width: fit-content;
    }

    .nav-text a {
        padding: 0 0;
    }
}

.dropmenu-page-title, .dropmenu-urbanZone-title, .dropmenu-buildings-title {
    place-self: center;
    text-transform: uppercase;
    color: white;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 30ch;
    text-overflow: ellipsis;
}

@media (max-width: 800px) {
    .dropmenu-page-title, .dropmenu-urbanZone-title, .dropmenu-buildings-title {
        width: 20ch;
    }
}

@media (max-width: 500px) {
    .dropmenu-page-title, .dropmenu-urbanZone-title, .dropmenu-buildings-title {
        width: 15ch;
    }
}

@media (max-width: 400px) {
    .dropmenu-page-title, .dropmenu-urbanZone-title, .dropmenu-buildings-title {
        width: 6ch;
    }
}